html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    display: grid;
    grid-template-columns: 1.5fr 6fr 2fr;
        grid-template-rows: 1fr 6fr repeat(2, .25fr) 6fr .3fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #CBD5C0;
}

.div-1 { grid-area: 1 / 1 / 2 / 4; }
.div-2 {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-3 {
    margin-right: 0;
    grid-area: 2 / 2 / 3 / 3;
    box-shadow:
    inset 3px -3px 5px #878C7FFF, /* bottom-left glow */
    inset -3px -3px 5px #878C7FFF; /* bottom-right glow */
}
.div-4 {
    grid-area: 3 / 1 / 5 / 3;
    background: #878C7FFF;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
}
.div-5 { grid-area: 5 / 1 / 6 / 3; }
.div-6 { grid-area: 2 / 3 / 3 / 4; }
.div-7 { grid-area: 3 / 3 / 6 / 4; }
.div-8 { grid-area: 6 / 1 / 7 / 4;
}

#start-turn-button {
    display: none;
}
p {
    font-family: "Helvetica Neue", sans-serif ;
    font-weight: bold;
    font-size: 12pt;
}

#header-div {
    display: flex;
    background-color: black;
    fill: black;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(75, 74, 74, 0.93); /* Adjusts the x-offset, y-offset, blur radius, and color for the glow */
}

#start-turn-button {
    position: relative;
    justify-self: left;
}

#header-title{
    display: inline;
    color: white;
    font-size: xxx-large;
    text-align: center;
    letter-spacing: 5px;
    margin: 10px;
}

.tall {
    height: 90% !important;
}

#for-span {
    text-decoration: underline;
}

#cards-personal-container{
    display: inline-flex;
    flex-direction: row;
    border-color: black;
    border-width: 2px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    background: #878C7FFF;
}


#cards-public-container{
    align-content: space-around;
    display: inline-flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    border-color: black;
    border-width: 2px;
    justify-content: flex-start;

}

#template-card{
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 12vw;
    height: 100%;
    margin-left: 10px;
    background-color: white;
    color: black;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.white-card{
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: black;
    border-style: solid;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer; /* Encourage user interaction */
    height: 45%;
    margin-left: 5px;
}

#black-card{
    color: white;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    border-style: ridge;
    margin: 0;
    height: 95%;
}

.white-card,.black-card {
    display: flex;
    width: 13.5vw;
    margin-left: 10px;
    border-width: 2px;
    border-radius: 4px;
    border-color: black;
    padding-left: 2px;
    padding-right: 4px;
    padding-top: 2px;
}

.white-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.white-card:not(.selected-card):hover {
    background-color: #f9f9f9; /* Very light gray */
}

.selected-card {
    background-color: #05acfa !important; /* Ensures this style has priority */
    color: #f9f9f9 !important;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.underlined {
    text-decoration: underline;
}

.white-card-text, .white-card-pack {
    padding-left: 3px;
    margin-bottom: 1px;
    margin-top: 2px;
    color: inherit;
}

#black-card-container {
    background: #878C7FFF;
}

.black-card-text, .black-card-pack {
    margin-top: 8px;
    padding-left: 3px;
    margin-bottom: 1px;
    color: white;
}

.black-card-pack, .white-card-pack {
    font-size: 8pt;
}

#submit-button {
    display: inline;
    width: 98%;
    height: 80%;
}

#sub-content {
    flex-direction: row;
    flex-grow: 1;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #543d2b;
}

#score-display-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-items: flex-start;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background: #878C7FFF;
    backdrop-filter: blur(10px);
}

.player-score-item {
    display: grid;
    justify-content: space-between;
    border-style: hidden;
    border-bottom: solid black;
    overflow: hidden;
    border-left: solid black;
}

.player-score-item-username, .player-score-item-score {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}


.player-score-item-username {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 4px;
    justify-self: left;
}

.player-score-item-score {
    grid-column-start: 4;
    grid-column-end: 5;
    justify-self: right;
    margin-right: 10px;
    border: hidden;
}

#player-score-item-template {
    display: none;
}

#chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-items: flex-start;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-top: hidden;
}

#chat {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: #878c7f;
    backdrop-filter: blur(10px);
}

#form {
    grid-area: 2 / 1 / 3 / 2;
    padding: 0.25rem;
    display: inline-flex;
    align-self: flex-start;
    flex-direction: row-reverse;
    height: 3rem;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    width: 100%;
    border-top: solid black;
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    grid-area: 1 / 1 / 2 / 2;
    list-style-type: none;
    flex-direction: column;
    margin: 0; padding: 0;
    justify-content: left;
    overflow: scroll;
    overflow-y: auto;
    width: 100% !important;
    overflow-x: hidden;
}
#messages > div {
    width: 100%;
    padding: 0.5rem 0 0.5rem 0.5rem;
    flex-wrap: wrap;
    word-wrap: break-word;
    border: 1px solid black;
    border-top-style: none;
    border-left-style: none;
    background: rgba(0, 0, 0,.1);
}

#messages > div:nth-child(odd) {
    background: rgba(0, 0, 0,.175);
}

#page-footer {
    background-color: #7a7e85;
    align-content: center;
    padding-left: 5px;
}

#page-footer {
    background-color: #7a7e85;
    align-content: center;
    padding-left: 5px;
}

#footer-link {
    display: flex;
    color: black;
    justify-self: right;
    margin-right: .75vw;
    justify-content: flex-end;
}

#waiting-overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

#overlay-content {
    border-radius: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr .7fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: 85%;
    height: 85%;
    background-color: #878c7f;
}

#waiting-header {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 2;
    background: rgba(0, 0, 0, .5);
}

#waiting-overlay-title {
    display: inline;
    color: white;
    font-size: xxx-large;
    text-align: center;
    letter-spacing: 5px;
    margin: 10px;
}

#waiting-overlay-subtitle {
    display: inline;
    color: white;
    font-size: xx-large;
    text-align: center;
    letter-spacing: 5px;
    margin: 0 0 5px;
}

#pack-selection-box {
    display: flex;
    height: 100%;
    grid-area: 2 / 1 / 3;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    align-content: center;
}

#buttons-1-4 {
    margin-bottom: 2.5%;
}

#buttons-5-7 {
    margin-top: 2.5%;
}

.pack-button {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    flex-direction: column;
}

.buttons-row {
    display:inline-flex;
    height: min-content;
    width: 100%;
    justify-content: space-evenly;
}
#start-turn-button-div {
    grid-area: 3 / 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
}

#start-turn-button {
    display: inline;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}